.all-animes {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  background: #5586e2;
}

.itachi_uchiha {
  width: 50%;
  height: 50%;
}

.anime-image {
  width: 80%;
  height: 80%;
}

#jujutsu_kaisen {
  display: none;
}

#search-bar {
  display: flex;
  width: 100vw;
}

.input-anime {
  width: 80%;
  height: 6vh;
  border: none;
}

.button-back {
  height: 6vh;
  border: none;
}

.button-search {
  height: 6vh;
  border: none;
}

.anime-paragraph {
  color: #fff;
}

.big {
  text-decoration: none;
}
